[defaults]
inventory={{CWD}}/inventory/hosts.yml
vault_password_file={{CWD}}/.vault_pass
roles_path={{CWD}}/roles
collections_path={{CWD}}/collections
# callbacks_enabled = ansible.posix.profile_tasks
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
