local-data: "lab-cp1.{{ domain_suffix }}. IN A 192.0.2.1"
local-data: "lab-cp2.{{ domain_suffix }}. IN A 192.0.2.2"
local-data: "lab-cp3.{{ domain_suffix }}. IN A 192.0.2.3"
local-data: "lab-worker1.{{ domain_suffix }}. IN A 192.0.2.4"
local-data: "lab-etcd1.{{ domain_suffix }}. IN A 192.0.2.5"
local-data: "lab-etcd2.{{ domain_suffix }}. IN A 192.0.2.6"
local-data: "lab-etcd3.{{ domain_suffix }}. IN A 192.0.2.7"
local-data: "lab-ns1.{{ domain_suffix }}. IN A 192.0.2.16"
local-data: "lab-ns2.{{ domain_suffix }}. IN A 192.0.2.17"
local-data: "lab-kube-endpoint.{{ domain_suffix }}. IN A 192.0.2.8"
local-data: "hubble-ui.{{ domain_suffix }}. IN A 192.0.2.24"
